header {
  background: rgb(64, 107, 233);
  box-shadow: 0 2px 8px rgba(20, 30, 48, 0.1);
}
.navbar {
  padding: 1rem 2rem;
  align-items: center;
  padding-left: 120px;
}
.logo {
  color: #fff;
  font-size: 2rem;
  letter-spacing: 2px;
  margin: 0;
}
