.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(30, 30, 30, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-cotnet {
  background: #a9a4a4;
  padding: 2rem 2.5rem;
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  min-width: 320px;
  max-width: 90vw;
  max-height: 80vh;
  overflow-y: auto; /* Enable vertical scrolling */
  text-align: center;
}
.modal-btn {
  margin-top: 1.5rem;
  padding: 0.5rem 1.2rem;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.modal-btn:hover {
  background: #0056b3;
}
